@sidebar__background-color: @muted__background-color;
@checkout-payment-option-title__border: 1px solid @divider__color;
@abs-checkout-tooltip-content-position-top: {};

@import 'Amazon_Pay::css/source/_module.less';

.amazon-sign-in-button-container__cell {
    vertical-align: middle;
    text-align: center;
    .field-tooltip {
        margin: 0;
    }
}
